<div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%"
            *ngFor="let blog of (dataSource | async)?.items">
            <mat-card class="mat-elevation-z4">
                <mat-card-header>
                    <mat-card-title>Mountains</mat-card-title>
                </mat-card-header>
                <img mat-card-image [src]="blog.headerImage ? blog.headerImage : blogDefaultImage">
                <mat-card-content>
                    <p>
                        {{blog.title}}
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <mat-paginator [length]="(dataSource | async)?.meta.totalItems"
            [pageSize]="(dataSource | async)?.meta.itemsPerPage" [pageSizeOptions]="[5,10,25,100]"
            (page)="pageEvent = $event; onPaginateChange($event)" aria-label="Select page" showFirstLastButtons>
        </mat-paginator>
    </div>
</div>