.content {
    padding: 16px;
}

.content>mat-card {
    margin-bottom: 16px;
}

.btn-container {
    margin: 15px 0px;
}

.cs_card {
    border-radius: 15px !important;
}

.card_container{
    padding: 24px;
}

img {
    width: 100%;
    height: 200px;
    object-fit: fill;
    border-radius: 10px;
}

.responsive-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 24px;
}