<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>Login</mat-card-title>
            <h3 style="margin-top: 5px;">Hey Admin 👋</h3>
        </mat-card-header>
        <form class="example-form" [formGroup]="loginForm" novalidate autocomplete="off" (ngSubmit)="onSubmit()">
            <mat-card-content>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Email" formControlName="email">
                    <mat-error
                        *ngIf="loginForm.controls['email'].errors && loginForm.controls['email'].errors.required">Please
                        enter email</mat-error>
                    <mat-error
                        *ngIf="loginForm.controls['email'].errors && loginForm.controls['email'].errors.pattern">Please
                        enter valid email</mat-error>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Password" formControlName="password"
                        [type]="hide ? 'password' : 'text'">
                    <mat-icon style="cursor: pointer" (click)="hide = !hide" matSuffix class="secondary-text">{{ hide ?
                        "visibility_off" : "visibility" }}</mat-icon>
                    <mat-error
                        *ngIf="loginForm.controls['password'].errors && loginForm.controls['password'].errors.required">Please
                        enter password</mat-error>
                    <mat-error
                        *ngIf="loginForm.controls['password'].errors && loginForm.controls['password'].errors.passwordInvalid">Password
                        is not containing a number</mat-error>
                </mat-form-field>
            </mat-card-content>
            <div fxLayout="row" fxLayoutAlign="center center">
                <button mat-raised-button color="primary">Log in
                    <mat-icon *ngIf="loading">
                        <mat-spinner color="accent" diameter="20"></mat-spinner>
                    </mat-icon>
                </button>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center" style="margin-top: 10px;">
                <mat-card-actions fxLayout="row" fxLayoutAlign="center center">
                    <label>New here?</label>
                    <button mat-button color="primary" type="button" (click)="goToRegister()">Register</button>
                </mat-card-actions>
            </div>
        </form>
    </mat-card>
</div>