/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    background-image: url('./assets/images/bg/white-wall.jpg');
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.auth-layout-bg-container {
    background-image: url('./assets/images/bg/bg-1.jpg');
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}