<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>BlogHub</span>
        <span class="toolbar-spacer"></span>
        <button mat-icon-button class="example-icon" [matMenuTriggerFor]="menu"
            aria-label="Example icon-button with menu icon">
            <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <div class="img-container">
                <h2 class="subtitle-container">{{currentUser?.name}}</h2>
                <img mat-card-md-image [src]="currentUser?.profilePic" class="cs-img">
                <div class="cs-container">
                    <mat-icon matSuffix class="secondary-text" color="primary">verified</mat-icon>
                    <h3 class="cs-margin-bottom ml-5 mb-0">{{currentUser?.role | uppercase}}</h3>
                </div>
            </div>
            <button mat-menu-item routerLink="/dashboard" routerLinkActive="routerActive" [routerLinkActiveOptions]="{exact:
                true}">
                <mat-icon>dashboard</mat-icon>
                <span>Dashboard</span>
            </button>
            <button mat-menu-item routerLink="/user-profile" routerLinkActive="routerActive" [routerLinkActiveOptions]="{exact:
                true}">
                <mat-icon>face</mat-icon>
                <span>My Profile</span>
            </button>
            <button mat-menu-item routerLink="/admin" routerLinkActive="routerActive" [routerLinkActiveOptions]="{exact:
                true}">
                <mat-icon>manage_accounts</mat-icon>
                <span>Admin</span>
            </button>
            <button mat-menu-item (click)="logout()">
                <mat-icon>logout</mat-icon>
                <span>Logout</span>
            </button>
        </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>